body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}
#canvas {
    display: block;
    background-color: #F5F7FA;
}
div.balloon{
     background-color: #FFF;
     color: #000;
     top:0;
     left:0;
     max-width:300px;
     border-radius: 10px;
     padding: 0.5em;
     line-height: 150%;
     font-size:1.4em;
     text-align: left;
     -webkit-user-select: none;
     user-select: none;
     word-wrap : break-word;
 }
#card{
    top:0;
    left:0;
    border-radius: 10px;
    padding: 0.5em;
    line-height: 150%;
    font-size:1.4em;
    text-align: left;
    -webkit-user-select: none;
    user-select: none;
    word-wrap : break-word;
}

#center-content {
    margin-top: 100px;
}
#center-content h1, p, p strong {
    color: #ffffff;
}
.wwdc15 {
    display: none;
}





